body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 40px;
  background: #0b1220;
  background-image: url("images/Designer.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1 {
  color: #F6F5FA;
}
h2 {
  color: #F6F5FA;
}

p {
  line-height: 1.6;
  color: #E1E0E5;
}

.profile {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile img {
  width: 160px;        /* change this value */
  height: 160px;
  max-width: 100%;
  object-fit: cover;  /* prevents stretching */
  border-radius: 50%; /* circular photo */
}
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #41F25B;            /* glow color (blueish) */
  text-shadow:
    0 0 5px #41F25B,
    0 0 10px #41F25B,
    0 0 20px #41F25B;
    text-decoration: none;
}


.icon-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.icon-link img {
  border-radius: 0;
  width: 28px;
  height: 25px;
}


hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 30px 0;
}


.links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.separator {
  width: 1px;
  height: 16px;
  background-color: #ccc;
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 0.8em;
  color: #555;
}


#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

nav a {
  color: white;              /* normal link color */
  text-decoration: none;
  transition: color 0.3s, text-shadow 0.3s;
}

nav a:hover {
  color: #41F25B;            /* glow color (blueish) */
  text-shadow:
    0 0 5px #41F25B,
    0 0 10px #41F25B,
    0 0 20px #41F25B;
    text-decoration: none;
}


.publications {
  margin-top: 40px;
  color: whitesmoke;
}

.publications h2 {
  margin-bottom: 15px;
}

.publications ul {
  list-style-type: disc;
  padding-left: 20px;
}

.publications li {
  margin-bottom: 12px;
  line-height: 1.6;
}

.publications a {
  color: #60a5fa;
  text-decoration: none;
}

.publications a:hover {
  text-shadow:
    0 0 5px #60a5fa,
    0 0 10px #60a5fa;
}

