body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 40px;
  background: #0b1220;
}

h1 {
  color: #F6F5FA;
}

p {
  line-height: 1.6;
  color: #E1E0E5;
}

.profile img {
  width: 160px;        /* change this value */
  height: 160px;
  max-width: 100%;
  object-fit: cover;  /* prevents stretching */
  border-radius: 50%; /* circular photo */
}
a {
  color: #0056b3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.icon-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.icon-link img {
  border-radius: 0;
  width: 28px;
  height: 25px;
}


hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 30px 0;
}


.links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.separator {
  width: 1px;
  height: 16px;
  background-color: #ccc;
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 0.8em;
  color: #555;
}


#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
